html {
  scroll-behavior: smooth;
}

.navbar{
    /*border-bottom: 2px solid rgba(228, 225, 225, 0.2);*/
    background-color: rgb(0, 0, 0, 0.9);
}

.openbtn {
  font-size: 21px;
  cursor: pointer;
  background-color: rgb(0,0,0,0);
  color: white;
  padding: 0.25em;
}
#sideOpenDiv{
    margin-left: 0.2rem;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    bottom: 0.2%;
    position: fixed;
}
#sideOpenDiv:hover{background-color: rgb(0, 0, 0, 0.9);}

.navbar-brand{
    font-size: 25px;
    color: whitesmoke;
    margin-right: 3rem;
}

.side-bar{
  background-color: rgb(33,37,41,1);
  /*overflow-x: scroll;*/
  /*padding-top: 20px;*/
  font-size: 1.05vw;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-bar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

#profile-pic{
    height: 65%;
    width: 65%;
    border-radius: 50%;
    border: 3.5px solid rgba(255, 255, 255, 0.219);
}
#side-name{
    /* padding-left: 5%; */
    padding-top: 1em;
    
}

.side-bar a{
    color: rgb(70, 70, 109);
    text-decoration: none;
    font-weight: 500;
}
.side-bar a:hover{
    color: rgb(23, 22, 24);
    text-decoration: none;
    font-weight: 500;
}
.side-bar button{
    width:80%;
    font-size:1vw;
}

.side-icon-dark{
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    max-width: 2.5vw;
    max-height: 2.5vw;
    margin-right: 2em;
}
.side-icon{
    max-width: 2.5vw;
    max-height: 2.5vw;
}

#main {
  transition: margin-left .5s;
}

.content{
    position: relative;
    padding-left: 2%;
    margin-bottom: 2em;
}

#programmer{
    width: 25vw;
    min-height: 105px;
    min-width: 95px;
    height: 7%;
    float: right;
    margin-right: 2%;
    border-radius: 20%;
    border: 3.5px solid rgb(113, 150, 225, .7);
}
#programmer:hover{
    border: 2.5px solid rgb(0, 0, 0, .7);
}

#home-content{
    padding-top: 4rem;
    font-family: 'Gugi', cursive;  
    font-size: 2.5vw; 
    display: inline-block;
    overflow: auto;
}
#pcontact{
    max-width: 50vw;
}
#contact-content{
    overflow: auto;
    margin-bottom: 20px;
}

.content h1{
    font-family: 'Bungee Inline', cursive;
}

/*#pskill{
    display: grid;
    grid-template-columns: auto auto auto auto;
}*/
.skill-card{
    margin-right: 2%;
}
.chip {
  color: white;
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  font-family: 'Gugi';
  border-radius: 25px;
  background-color: rgb(0, 0, 0, 0.8);
  margin: 7px;
  padding-bottom: 3px;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
.chip:hover{
    text-shadow: 0 0 20px #fff, 0 0 30px #f9c31b, 0 0 40px #f9c31b, 0 0 50px #f9c31b, 0 0 60px #f9c31b, 0 0 70px #f9c31b, 0 0 80px #f9c31b;;
}
.chip img {
  background-color: white;
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1.5px solid limegreen;
}



@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 700px) {
    .side-icon-dark{
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
        max-width: 7vw;
        max-height: 7vw;
        margin-right: 2em;
    }
    .side-icon{
        max-width: 7vw;
        max-height:75vw;
    }
    #programmer{
        width: 10%;
        height: 10%;
    }
    
}






.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}




.timeline{
  width:100%;
/*  background-color:#072736;*/
  color:#fff;
  padding:30px 20px;
  /*box-shadow:0px 0px 10px rgba(0,0,0,.5);*/
}
.timeline h1{
    color: #212529;
}
.timeline ul{
  list-style-type:none;
  border-left:2px solid rgb(54 54 54);
  padding:10px 5px;
}
.timeline ul li{
  padding:20px 20px;
  position:relative;
  cursor:pointer;
  transition:.5s;
}
.timeline ul li span{
  display:inline-block;
  background-color:#1685b8;
  border-radius:25px;
  padding:2px 5px;
  font-size:15px;
  text-align:center;
}
.timeline ul li .content h3{
  color:#34ace0;
  font-size:17px;
  padding-top:5px;
}
.timeline ul li .content p{
  padding:5px 0px 15px 0px;
  font-size:15px;
  color: black;
}
.timeline ul li:hover p{
    color: white;
}
.timeline ul li:before{
  position:absolute;
  content:'';
  width:20px;
  height:20px;
  background-color:#34ace0;
  border-radius:50%;
  left:-16px;
  top:28px;
  transition:.8s;
}
.timeline ul li:hover{
  background-color:rgb(0, 0, 0, 0.8);
}
.timeline ul li:hover:before{
  background-color:#0F0;
  box-shadow:0px 0px 10px 2px #0F0;
}
@media (max-width:300px){
  .timeline{
    width:100%;
    padding:30px 5px 30px 10px;
  }
  .timeline ul li .content h3{
    color:#34ace0;
    font-size:15px;
  }

}