html {
  scroll-behavior: smooth;
}

.navbar{
    /*border-bottom: 2px solid rgba(228, 225, 225, 0.2);*/
    background-color: rgb(0, 0, 0, 0.9);
}

.openbtn {
  font-size: 23px;
  cursor: pointer;
  background-color: rgb(0,0,0,0);
  color: white;
  padding: 0.5em;
  border: none;
}
#sideOpenDiv{
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 50%;
    position: absolute;
}
.navbar-brand{
    font-size: 25px;
    color: whitesmoke;
    margin-right: 3rem;
}

.side-bar{
  background-color: rgb(33,37,41,1);
  /*overflow-x: scroll;*/
  /*padding-top: 20px;*/
  font-size: 1.05vw;
  color: rgb(255, 255, 255);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-bar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.side-bar .closebtn:hover {
    color: white;
}

#profile-pic{
    height: 65%;
    width: 65%;
    border-radius: 50%;
    border: 3.5px solid rgba(255, 255, 255, 0.219);
}
#side-name{
    /* padding-left: 5%; */
    padding-top: 1em;
    
}

.side-bar a{
    color: rgb(70, 70, 109);
    text-decoration: none;
    font-weight: 500;
}
.side-bar a:hover{
    color: rgb(23, 22, 24);
    text-decoration: none;
    font-weight: 500;
}
.side-bar button{
    width:80%;
    font-size:1vw;
}

.side-icon-dark{
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    max-width: 2.5vw;
    max-height: 2.5vw;
    margin-right: 2em;
}
.side-icon{
    max-width: 2.5vw;
    max-height: 2.5vw;
}

#main {
  /*background-image: url("../assets/mainbg.jpg");*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  transition: margin-left .5s;
  /*padding: 16px;*/
}

.content{
    /*position: absolute;*/
    /*left: 25%;*/
    padding-left: 2%;
}

#programmer{
    width: 7%;
    height: 7%;
    float: right;
    margin-right: 5%;
}

#home-content{
    padding-top: 4rem;
    font-family: 'Gugi', cursive;  
    font-size: 2.5vw; 
}

.content h1{
    font-family: 'Bungee Inline', cursive;
}

/*#pskill{
    display: inline-flex;
    animation: marquee 10s linear infinite;
}*/
.skill-card{
    margin-right: 2%;
}

/*#marq-skill {
  display: inline-block;
  animation: marquee 10s linear infinite;
}*/
/*@keyframes marquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}*/

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 700px) {
    .side-icon-dark{
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
        max-width: 7vw;
        max-height: 7vw;
        margin-right: 2em;
    }
    .side-icon{
        max-width: 7vw;
        max-height:75vw;
    }
    #programmer{
        width: 10%;
        height: 10%;
    }
    
}